.answer {
    font-size: 1.3rem;  
}

.switch-label.switch-sm {
    width: 83px;
    height: 22px;
}

.switch-label.switch-sm .switch-input:checked ~ .switch-slider::before {
    transform: translateX(60px);
}

small, .small {
    font-size: 66%;
    font-weight: 400;
}

.text-value {
    font-size: 1.10rem;
    font-weight: 600;
}

.brand-card-header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;
    border-radius: 0.25rem 0.25rem 0 0;
}