<div class="animated fadeIn">
  
  <div class="row justify-content-center">
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          Question
        </div>
        <div class="card-body">
          <span class="h2">What is the capital of Belgium?</span>
          <div class="answer mt-3 text-left">Answer: <span class="font-weight-bold"> Brussel</span></div>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="col-sm-6 col-md-3 ">
    <div class="card">
      <div class="card-header">
        Card title
      </div>
      <div class="card-body">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
      </div>
    </div>
  </div> -->
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <i class="icon-directions"></i> Distractors 
          <span class="badge badge-pill badge-success">3</span>
          <span class="badge badge-pill badge-warning">2</span>
          <span class="badge badge-pill badge-danger">4</span>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-xl-2 col-md-3 col-sm-4 col-6 mb-4">
              <div class="brand-card">
                <div class="brand-card-header bg-success">
                  <span class="text-uppercase h2 white-text" >BRUGGE</span>
                </div>
                <div class="brand-card-body">
                  <div>
                    <div class="text-value">1st</div>
                    <div class="text-uppercase text-muted small">Ranking</div>
                  </div>
                  <div>
                    <div class="text-value">0.89</div>
                    <div class="text-uppercase text-muted small">Probability</div>
                  </div>
                </div>
                <div class="border-top pt-3 text-center">
                  <label class="switch switch-sm switch-label switch-info" >
                    <input type="checkbox" class="switch-input">
                    <span class="switch-slider" data-checked="saved" data-unchecked="unsaved"></span>
                  </label>
                </div>
                <div class="card-footer text-center">
                  <a [routerLink]="['/features']" class="h5">Features</a>
                </div>
              </div>
            </div>
            <div class="col-xl-2 col-md-3 col-sm-4 col-6 mb-4">
              <div class="brand-card">
                <div class="brand-card-header bg-success">
                  <span class="text-uppercase h2 white-text">Paris</span>
                </div>
                <div class="brand-card-body">
                  <div>
                    <div class="text-value">2nd</div>
                    <div class="text-uppercase text-muted small">Ranking</div>
                  </div>
                  <div>
                    <div class="text-value">0.80</div>
                    <div class="text-uppercase text-muted small">Probability</div>
                  </div>
                </div>
                <div class="border-top pt-3 text-center">
                  <label class="switch switch-sm switch-label switch-info" >
                    <input type="checkbox" class="switch-input" checked>
                    <span class="switch-slider" data-checked="saved" data-unchecked="unsaved"></span>
                  </label>
                </div>
                <div class="card-footer text-center">
                  <a [routerLink]="['/features']" class="h5">Features</a>
                </div>
              </div>
              
            </div>
            <div class="col-xl-2 col-md-3 col-sm-4 col-6 mb-4">
              <div class="brand-card">
                <div class="brand-card-header bg-success">
                  <span class="text-uppercase h2 white-text">Barcelona</span>
                </div>
                <div class="brand-card-body">
                  <div>
                    <div class="text-value">2nd</div>
                    <div class="text-uppercase text-muted small">Ranking</div>
                  </div>
                  <div>
                    <div class="text-value">0.80</div>
                    <div class="text-uppercase text-muted small">Probability</div>
                  </div>
                </div>
                <div class="border-top pt-3 text-center">
                  <label class="switch switch-sm switch-label switch-info" >
                    <input type="checkbox" class="switch-input">
                    <span class="switch-slider" data-checked="saved" data-unchecked="unsaved"></span>
                  </label>
                </div>
                <div class="card-footer text-center">
                  <a [routerLink]="['/features']" class="h5">Features</a>
                </div>
              </div>
              
            </div>
            <div class="col-xl-2 col-md-3 col-sm-4 col-6 mb-4">
              <div class="brand-card">
                <div class="brand-card-header bg-warning">
                  <span class="text-uppercase h2 white-text">LILLE</span>
                </div>
                <div class="brand-card-body">
                  <div>
                    <div class="text-value">3rd</div>
                    <div class="text-uppercase text-muted small">Ranking</div>
                  </div>
                  <div>
                    <div class="text-value">0.74</div>
                    <div class="text-uppercase text-muted small">Probability</div>
                  </div>
                </div>
                <div class="border-top pt-3 text-center">
                  <label class="switch switch-sm switch-label switch-info" >
                    <input type="checkbox" class="switch-input">
                    <span class="switch-slider" data-checked="saved" data-unchecked="unsaved"></span>
                  </label>
                </div>
                <div class="card-footer text-center">
                  <a [routerLink]="['/features']" class="h5">Features</a>
                </div>
              </div>
            </div>
            <div class="col-xl-2 col-md-3 col-sm-4 col-6 mb-4">
              <div class="brand-card">
                <div class="brand-card-header bg-warning">
                  <span class="text-uppercase h2 white-text">Anvers</span>
                </div>
                <div class="brand-card-body">
                  <div>
                    <div class="text-value">4th</div>
                    <div class="text-uppercase text-muted small">Ranking</div>
                  </div>
                  <div>
                    <div class="text-value">0.62</div>
                    <div class="text-uppercase text-muted small">Probability</div>
                  </div>
                </div>
                <div class="border-top pt-3 text-center">
                  <label class="switch switch-sm switch-label switch-info" >
                    <input type="checkbox" class="switch-input">
                    <span class="switch-slider" data-checked="saved" data-unchecked="unsaved"></span>
                  </label>
                </div>
                <div class="card-footer text-center">
                  <a [routerLink]="['/features']" class="h5">Features</a>
                </div>
              </div>
            </div>
            <div class="col-xl-2 col-md-3 col-sm-4 col-6 mb-4">
              <div class="brand-card">
                <div class="brand-card-header bg-danger">
                  <span class="text-uppercase h2 white-text">NYC</span>
                </div>
                <div class="brand-card-body">
                  <div>
                    <div class="text-value">5th</div>
                    <div class="text-uppercase text-muted small">Ranking</div>
                  </div>
                  <div>
                    <div class="text-value">0.45</div>
                    <div class="text-uppercase text-muted small">Probability</div>
                  </div>
                </div>
                <div class="border-top pt-3 text-center">
                  <label class="switch switch-sm switch-label switch-info" >
                    <input type="checkbox" class="switch-input" checked>
                    <span class="switch-slider" data-checked="saved" data-unchecked="unsaved"></span>
                  </label>
                </div>
                <div class="card-footer text-center">
                  <a [routerLink]="['/features']" class="h5">Features</a>
                </div>
              </div>
            </div>
            <div class="col-xl-2 col-md-3 col-sm-4 col-6 mb-4">
              <div class="brand-card">
                <div class="brand-card-header bg-danger">
                  <span class="text-uppercase h2 white-text">LONDON</span>
                </div>
                <div class="brand-card-body">
                  <div>
                    <div class="text-value">6th</div>
                    <div class="text-uppercase text-muted small">Ranking</div>
                  </div>
                  <div>
                    <div class="text-value">0.32</div>
                    <div class="text-uppercase text-muted small">Probability</div>
                  </div>
                </div>
                <div class="border-top pt-3 text-center">
                  <label class="switch switch-sm switch-label switch-info" >
                    <input type="checkbox" class="switch-input">
                    <span class="switch-slider" data-checked="saved" data-unchecked="unsaved"></span>
                  </label>
                </div>
                <div class="card-footer text-center">
                  <a [routerLink]="['/features']" class="h5">Features</a>
                </div>
              </div>
            </div>
            <div class="col-xl-2 col-md-3 col-sm-4 col-6 mb-4">
              <div class="brand-card">
                <div class="brand-card-header bg-danger">
                  <span class="text-uppercase h2 white-text">Kaapstad</span>
                </div>
                <div class="brand-card-body">
                  <div>
                    <div class="text-value">7th</div>
                    <div class="text-uppercase text-muted small">Ranking</div>
                  </div>
                  <div>
                    <div class="text-value">0.29</div>
                    <div class="text-uppercase text-muted small">Probability</div>
                  </div>
                </div>
                <div class="border-top pt-3 text-center">
                  <label class="switch switch-sm switch-label switch-info" >
                    <input type="checkbox" class="switch-input">
                    <span class="switch-slider" data-checked="saved" data-unchecked="unsaved"></span>
                  </label>
                </div>
                <div class="card-footer text-center">
                  <a [routerLink]="['/features']" class="h5">Features</a>
                </div>
              </div>
            </div>
            <div class="col-xl-2 col-md-3 col-sm-4 col-6 mb-4">
              <div class="brand-card">
                <div class="brand-card-header bg-danger">
                  <span class="text-uppercase h2 white-text">Luxembourg</span>
                </div>
                <div class="brand-card-body">
                  <div>
                    <div class="text-value">8th</div>
                    <div class="text-uppercase text-muted small">Ranking</div>
                  </div>
                  <div>
                    <div class="text-value">0.20</div>
                    <div class="text-uppercase text-muted small">Probability</div>
                  </div>
                </div>
                <div class="border-top pt-3 text-center">
                  <label class="switch switch-sm switch-label switch-info" >
                    <input type="checkbox" class="switch-input">
                    <span class="switch-slider" data-checked="saved" data-unchecked="unsaved"></span>
                  </label>
                </div>
                <div class="card-footer text-center">
                  <a [routerLink]="['/features']" class="h5">Features</a>
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="row">
            <div class="col-xl-2 col-md-3 col-sm-4 col-6 mb-4">
              <div class="bg-primary theme-color w-75 rounded mb-2" style="padding-top:75%"></div>
              <h6>Brand Primary Color</h6>
            </div>
            <div class="col-xl-2 col-md-3 col-sm-4 col-6 mb-4">
              <div class="bg-secondary theme-color w-75 rounded mb-2" style="padding-top:75%"></div>
              <h6>Brand Secondary Color</h6>
            </div>
            <div class="col-xl-2 col-md-3 col-sm-4 col-6 mb-4">
              <div class="bg-success theme-color w-75 rounded mb-2" style="padding-top:75%"></div>
              <h6>Brand Success Color</h6>
            </div>
            <div class="col-xl-2 col-md-3 col-sm-4 col-6 mb-4">
              <div class="bg-danger theme-color w-75 rounded mb-2" style="padding-top:75%"></div>
              <h6>Brand Danger Color</h6>
            </div>
            <div class="col-xl-2 col-md-3 col-sm-4 col-6 mb-4">
              <div class="bg-warning theme-color w-75 rounded mb-2" style="padding-top:75%"></div>
              <h6>Brand Warning Color</h6>
            </div>
            <div class="col-xl-2 col-md-3 col-sm-4 col-6 mb-4">
              <div class="bg-info theme-color w-75 rounded mb-2" style="padding-top:75%"></div>
              <h6>Brand Info Color</h6>
            </div>
            <div class="col-xl-2 col-md-3 col-sm-4 col-6 mb-4">
              <div class="bg-light theme-color w-75 rounded mb-2" style="padding-top:75%"></div>
              <h6>Brand Light Color</h6>
            </div>
            <div class="col-xl-2 col-md-3 col-sm-4 col-6 mb-4">
              <div class="bg-dark theme-color w-75 rounded mb-2" style="padding-top:75%"></div>
              <h6>Brand Dark Color</h6>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
  
  <!-- <div class="card">
    <div class="card-header">
      <i class="icon-drop"></i> Grays
    </div>
    <div class="card-body">
      <div class="row mb-3">
        <div class="col-xl-2 col-md-3 col-sm-4 col-6 mb-4">
          <div class="bg-gray-100 theme-color w-75 rounded mb-2" style="padding-top:75%"></div>
          <h6>Gray 100 Color</h6>
        </div>
        <div class="col-xl-2 col-md-3 col-sm-4 col-6 mb-4">
          <div class="bg-gray-200 theme-color w-75 rounded mb-2" style="padding-top:75%"></div>
          <h6>Gray 200 Color</h6>
        </div>
        <div class="col-xl-2 col-md-3 col-sm-4 col-6 mb-4">
          <div class="bg-gray-300 theme-color w-75 rounded mb-2" style="padding-top:75%"></div>
          <h6>Gray 300 Color</h6>
        </div>
        <div class="col-xl-2 col-md-3 col-sm-4 col-6 mb-4">
          <div class="bg-gray-400 theme-color w-75 rounded mb-2" style="padding-top:75%"></div>
          <h6>Gray 400 Color</h6>
        </div>
        <div class="col-xl-2 col-md-3 col-sm-4 col-6 mb-4">
          <div class="bg-gray-500 theme-color w-75 rounded mb-2" style="padding-top:75%"></div>
          <h6>Gray 500 Color</h6>
        </div>
        <div class="col-xl-2 col-md-3 col-sm-4 col-6 mb-4">
          <div class="bg-gray-600 theme-color w-75 rounded mb-2" style="padding-top:75%"></div>
          <h6>Gray 600 Color</h6>
        </div>
        <div class="col-xl-2 col-md-3 col-sm-4 col-6 mb-4">
          <div class="bg-gray-700 theme-color w-75 rounded mb-2" style="padding-top:75%"></div>
          <h6>Gray 700 Color</h6>
        </div>
        <div class="col-xl-2 col-md-3 col-sm-4 col-6 mb-4">
          <div class="bg-gray-800 theme-color w-75 rounded mb-2" style="padding-top:75%"></div>
          <h6>Gray 800 Color</h6>
        </div>
        <div class="col-xl-2 col-md-3 col-sm-4 col-6 mb-4">
          <div class="bg-gray-900 theme-color w-75 rounded mb-2" style="padding-top:75%"></div>
          <h6>Gray 900 Color</h6>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <i class="icon-drop"></i> Additional colors
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-xl-2 col-md-3 col-sm-4 col-6 mb-4">
          <div class="bg-blue theme-color mb-3 w-75 rounded mb-2" style="padding-top:75%"></div>
          <h6>Blue Color</h6>
        </div>
        <div class="col-xl-2 col-md-3 col-sm-4 col-6 mb-4">
          <div class="bg-light-blue theme-color mb-3 w-75 rounded mb-2" style="padding-top:75%"></div>
          <h6>Light Blue Color</h6>
        </div>
        <div class="col-xl-2 col-md-3 col-sm-4 col-6 mb-4">
          <div class="bg-indigo theme-color mb-3 w-75 rounded mb-2" style="padding-top:75%"></div>
          <h6>Indigo Color</h6>
        </div>
        <div class="col-xl-2 col-md-3 col-sm-4 col-6 mb-4">
          <div class="bg-purple theme-color mb-3 w-75 rounded mb-2" style="padding-top:75%"></div>
          <h6>Purple Color</h6>
        </div>
        <div class="col-xl-2 col-md-3 col-sm-4 col-6 mb-4">
          <div class="bg-pink theme-color mb-3 w-75 rounded mb-2" style="padding-top:75%"></div>
          <h6>Pink Color</h6>
        </div>
        <div class="col-xl-2 col-md-3 col-sm-4 col-6 mb-4">
          <div class="bg-red theme-color mb-3 w-75 rounded mb-2" style="padding-top:75%"></div>
          <h6>Red Color</h6>
        </div>
        <div class="col-xl-2 col-md-3 col-sm-4 col-6 mb-4">
          <div class="bg-orange theme-color mb-3 w-75 rounded mb-2" style="padding-top:75%"></div>
          <h6>Orange Color</h6>
        </div>
        <div class="col-xl-2 col-md-3 col-sm-4 col-6 mb-4">
          <div class="bg-yellow theme-color mb-3 w-75 rounded mb-2" style="padding-top:75%"></div>
          <h6>Yellow Color</h6>
        </div>
        <div class="col-xl-2 col-md-3 col-sm-4 col-6 mb-4">
          <div class="bg-green theme-color mb-3 w-75 rounded mb-2" style="padding-top:75%"></div>
          <h6>Green Color</h6>
        </div>
        <div class="col-xl-2 col-md-3 col-sm-4 col-6 mb-4">
          <div class="bg-teal theme-color mb-3 w-75 rounded mb-2" style="padding-top:75%"></div>
          <h6>Teal Color</h6>
        </div>
        <div class="col-xl-2 col-md-3 col-sm-4 col-6 mb-4">
          <div class="bg-cyan theme-color mb-3 w-75 rounded mb-2" style="padding-top:75%"></div>
          <h6>Cyan Color</h6>
        </div>
      </div>
    </div>
  </div> -->
</div>
