.myoptions {
    font-size: 1.5rem !important;
}

.bottom-line {
    border-bottom: 1px solid #c8ced3;
}

.mymargin {
    margin-right: .05rem !important;
}

.callout-default {
    border-left: 4px solid black !important;
}

.progress-bar-black {
    background-color: black !important;
}

.opacity-4 {
    opacity: 1;
}

.opacity-1 {
    opacity: 0.3;
}