<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-header">
          <strong><i class="icon-cursor"></i> Feature importance</strong>
        </div>
        <div class="card-body">
          <canvas baseChart 
          [datasets]="barChartData" 
          [labels]="barChartLabels" 
          [options]="barChartOptions"
          [legend]="barChartLegend" 
          [chartType]="barChartType">
        </canvas>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-header">
          <strong><i class="icon-cursor"></i> Relevant features</strong>
        </div>
        <div class="card-body">
          <table class="table table-responsive-sm table-hover table-outline mb-0 ">
            <thead class="thead-light">
              <tr>
                <th>Feature</th>
                <th>Importance</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><strong>Percentage of appearence in texts</strong></td>
                <td class="bg-success text-center text-dark">9.5 / 10</td>
              </tr>
              <tr>
                <td><strong>Count capitals</strong></td>
                <td class="bg-warning text-center text-dark">6.0 / 10</td>
              </tr>
              <tr>
                <td><strong>Context similarity</strong></td>
                <td class="bg-danger text-center text-dark">2.5 / 10</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  
</div>
