
.table-outline {
    /* background-color: #fcfeff; */
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.table .thead-light th {
    background-color: #20a8d8;
    color: #fcfeff;
}

.white-text {
    color: white;
}

.bg-distractor {
    background-color: #00bac4;
}

.switch-label.switch-sm {
    width: 83px;
    height: 22px;
}

.switch-label.switch-sm .switch-input:checked ~ .switch-slider::before {
    transform: translateX(60px);
}

.card-footer {
    padding-bottom: 0px;
}


table td:nth-child(3),
table td:nth-child(4), 
table th:nth-child(3),
table th:nth-child(4){
    max-width: 10rem;
}

table td:nth-child(1),
table td:nth-child(1){
    max-width: 15rem;
}


td.up-value {
    color: #4DBD74;
}

td.mid-value {
    color: #ffc107;
}

td.down-value {
    color: #F86C6B;
}
